PORT=4000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/airtable_scraper
AIRTABLE_CLIENT_ID=YOUR_CLIENT_ID
AIRTABLE_CLIENT_SECRET=YOUR_CLIENT_SECRET
AIRTABLE_REDIRECT_URI=http://localhost:4000/api/airtable/oauth/callback
FRONTEND_OAUTH_SUCCESS_URL=http://localhost:4200/?success=true
FRONTEND_ORIGIN=http://localhost:4200
AIRTABLE_OAUTH_SCOPES="schema.bases:read data.records:read"
AIRTABLE_AUTHORIZE_BASE_URL=https://airtable.com
AIRTABLE_API_BASE_URL=https://api.airtable.com/v0
AIRTABLE_REVISION_HISTORY_URL_TEMPLATE="https://airtable.com/v0.3/row/${recordId}/readRowActivitiesAndComments?stringifiedObjectParams=%7B%22limit%22%3A10%2C%22offsetV2%22%3Anull%2C%22shouldReturnDeserializedActivityItems%22%3Atrue%2C%22shouldIncludeRowActivityOrCommentUserObjById%22%3Atrue%7D"

